header{
    position: relative;

    .logo{
        font-weight: 600;
        font-size: 26px;
    }

    .nav{
        float: right;
        list-style: none;

        li{
            display: inline;
            margin-left: 25px;
            cursor: pointer;
            font-size: 15px;
            font-weight: 600;
            transition: opacity 500ms ease;

            &:hover {
                opacity: 0.5;
            }
        }

    }
    .shopCartButton {
        float: right;
        cursor: pointer;
        font-size: 20px;
        transition: color,transform 500ms ease;
        &:hover,
        &.active {
            color: rgb(255, 0, 0) !important;
            transform:scale(1.5);
        }
    }
    .shopCart {
        position: absolute;
        top: 30px;
        right: 0;
        width: 450px;
        min-height: 100px;
        background: rgb(214, 221, 208);
        -webkit-box-shadow: -22px 21px 20px -7px rgba(34, 60, 80, 0.84);
        -moz-box-shadow: -22px 21px 20px -7px rgba(34, 60, 80, 0.84);
        box-shadow: -22px 21px 20px -7px rgba(34, 60, 80, 0.84);
        z-index: 1000;
    }
    .presentation{
        margin: 50px 0;
        background: url(./../../assets/banner.jpg) no-repeat;
        width: 100%;
        height: 500px;
        background-size: cover;
        background-position: center center;
        //background-blend-mode: multiply;
        //background-color: rgb(223, 214, 205);
        position: relative;
        border-radius: 15px;
    }
    
    .presentation::after{
        content: "Лучшие товары для ваших друзей";
        color: azure;
        position: absolute;
        top: 60px;
        left: 20px;
        width: 200px;
        font-size: 50px;
        font-weight: 600;


    }
        
    .presentation::before{
        content: "Большой выбор";
        color: azure;
        position: absolute;
        top: 400px;
        left: 20px;
        width: 100%;
        font-size: 40px;
        font-weight: 600;


    }
}

