.fullItem{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,1,0.634);
    z-index: 9999;
    overflow: auto;

    h2,p,b{
        margin: 10px 20px;
        padding-bottom: 25px;
    }

    b{
        color: rgb(204, 36, 36);
    }

    .addToCart{
        position: absolute;
        width: 5px;
        height: 5px;
        right: 10px;
        margin-bottom: 50px;
        transition: transform 500ms ease;
        background: rgb(212, 69, 69);
        color: white;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
    }

    .item{
        
        img{
            width: 100%;
            border-radius: 10px;
            transition: transform 500ms ease;
            cursor: pointer;

            &:hover{
                transition: scale(1.05);
            }
        }
    }

    div{
        width: 600px;
        position: relative;
        margin: 10% auto;
        padding: 40px 30px;
        background: #dde8e7;
        border-radius: 15px;
    }

    img{
        width: 600px;
    }
}